main {
  margin: auto;
  display: grid;
  grid-template-columns: 20% 30% 50%;
  justify-items: stretch;
}


@media all and (max-width: 1200px) {
  main {
    width: 100%;
  }
}

main a {
  text-decoration: none;
}

main li {
  list-style: none;
}

main .active {
  font-weight: bold;
  color: teal;
}

.list h1 {
  text-align: center;
  font-size: 1.5em;
}


.list table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 500px;
  border: 1px solid #ddd;
}

.list th,
.list td {
  text-align: left;
  padding: 16px;
}

.list tr:nth-child(even) {
  background-color: #f2f2f2
}
